<div class=" wrapper fl w-100 flex justify-around flex-wrap ">
    <div class="login_block bg-white br3 w-50-l w-70-m    ">
        <div class="login fl w-60  ">
            <div class="header h2 mt5 mb2  ">
                <h2 class="avenir f3 mt1  " >Welcome Back</h2>
                <span class="avenir f7  ">New user? <span><a href="" >Create an account</a></span></span>
            </div>
            <div class="form br-pill body ba b--black-20 h2 mt2 ">
                <span class="icon" ><i class="fa fa-envelope ml3 mr3 silver " aria-hidden="true"></i></span>
                <input class="b--none outline-0 lh-solid h-100 bg-white f7" type="email" id="email" placeholder="Email Address" />
            </div>
            <div class="form br-pill body ba b--black-20 h2" >
                <span class="icon" ><i class="fa fa-lock ml3 mr3 silver f4  ph1  "></i></span>
                <input class="b--none outline-0 lh-solid h-100 bg-white f7" type="password" id="password" placeholder="Password"  />
            </div>
            <label class="container h1 gray f7 relative db pointer ph4  pt1   ">Rememeber Me
                <input type="checkbox" class=" dn absolute pointer ">
                <span class="checkmark absolute br3 bg-white w1 h1 ba b--light-silver top-0 left-0  pointer  "></span>
                <span ><a href="" class="fr">Forgot Password?</a></span>
            </label>
            <button class="br-pill " style="background: grey;" >
                Login
            </button>
            <hr class="w-100  relative mt2" >
            <button class="br-pill" style="background-color:#4267b2;">
                Login with Facebook
            </button>
            <button class="br-pill" style="background-color:#dd4b39;">
                Login with Google
            </button>

        </div>
        <div class="image fl w-40 h-100 br--right"><img src="https://placehold.it/240x345" alt="" class="w-100 h-100 br--right"></div>
    </div>
</div>

