<div class="wrapper  bg-near-white w-100 h-100  ">
    <header class="bg-white h3-ns h4 w-100 bb b--black-10 items-center flex-none-ns justify-end  ">
        <div class=" head w-80-ns w-100 justify-between-ns fr-ns flex justify-center mt3-ns items-center">
            <div class="search flex h2 db mt0-ns mt4">
                <input type="text" class="searchTerm gray bn outline-0 bg-lightest-blue o-70 o-40 pl2 " placeholder="Search for...">
                <button type="submit" class="searchButton bg-blue tc white pointer f7 w2 h2 bn br--right">
                    <i class="fa fa-search" aria-hidden="true"></i>
               </button>
            </div>
            <div class="right-contaienr mr6-ns mr0 flex mt3 mt0-ns">
                <div class="block db w3">
                    <a href="#" class="notification no-underline relative inline-block br-gray h2">
                        <span class="f4 w3"><i class="fa fa-bell blue dim " aria-hidden="true"></i></span>
                        <span class="badge absolute white bg-red tc f7">3</span>
                    </a>
                </div>
                <div class="block db w3 br b--silver">
                    <a href="#" class="notification no-underline relative inline-block br-gray h2">
                        <span class="f4 w3"><i class="fa fa-envelope blue dim " aria-hidden="true"></i></span>
                        <span class="badge absolute white bg-red tc f7">3</span>
                    </a>
                </div>
                <img src="https://placehold.it/30x30" class="br-100 ml4 " alt="">
            </div>

        </div>

    </header>
    <section class="w-100 flex justify-between-ns">
        <!-- Menu trái -->
        <div class="menu bg-blue w-10-ns w-20  mr">
            <div class="row1 w-100 ba br-pill bg-blue mt5 bn ml3-ns ml0 pl4-ns   bl b--blue"><i class="fa pt3 pr2 fa-chevron-right white fr" aria-hidden="true"></i></div>
            <div class="row w-100 bg-blue bn h3  f2 flex justify-center items-center mt3"><i class="fa fa-th-large lightest-blue o-70 " aria-hidden="true"></i></div>
            <div class="row w-100 bg-blue bn h3 f2 flex justify-center items-center mt3"><i class="fa fa-user lightest-blue o-70 " aria-hidden="true"></i></div>
            <div class="row w-100 bg-blue bn h3 f2 flex justify-center items-center mt3"><i class="fa fa-bookmark lightest-blue o-70 " aria-hidden="true"></i></div>
            <div class="row w-100 bg-blue bn h3 f2 flex justify-center items-center mt3"><i class="fa fa-commenting lightest-blue o-70 " aria-hidden="true"></i></div>
            <div class="row w-100 bg-blue bn h3 f2 flex justify-center items-center mt5 "><i class="fa fa-cog lightest-blue o-70 " aria-hidden="true"></i></div>
        </div>
        <!-- Phần phải -->
        <div class="right_container w-80-ns w-70 ml3 ml0-ns">
            <header class="flex w-100  justify-between">
                <p class="gray f2 mt4 ">Dashboard</p>
                <button class="bg-blue white bn h2 w5 mt4 br3">Generate Report<i class="fa fa-download white pl4" aria-hidden="true"></i></button>
            </header>

            <body class="flex-ns db mt3  ">
                <div class="card bg-white br3 w-40-ns w-100 mr3-ns mr0 ">
                    <div class="lable bg-lightest-blue o-70 blue w-100 h3 items-center justify-between flex f4 helvetica pl3 fw6">
                        <span class="">Approved Books</span>
                        <i class="fa fa-ellipsis-v pr4"></i>
                    </div>
                    <div class="card-body bg-white items-center justify-center flex mt3 ">
                        <img src="https://placehold.it/230x230 " alt=" ">
                    </div>
                    <div class="note flex tc justify-center mt4 ">
                        <div class="note first gray helvetica f6 relative ">
                            Direct
                        </div>
                        <div class="note second gray helvetica f6 relative ml5 ">
                            Indirect
                        </div>
                    </div>
                </div>
                <div class="card bg-white br3 w-40-ns w-100 mt0-ns mt4">
                    <div class="lable bg-lightest-blue o-70 blue w-100 h3 items-center justify-between flex f4 helvetica pl3 fw6">
                        <span class="">Recenty Approved Books</span>
                        <i class="fa fa-ellipsis-v pr4"></i>
                    </div>
                    <div class="row w-100 h3 flex items-center gray f5 o-50 bt bb b--moon-gray fw6 helvetica">
                        <div class="block1 w-30 pl3">1.</div>
                        <div class="block2 w-70">Eragon</div>
                    </div>
                    <div class="row w-100 h3 flex items-center gray f5 o-50 bt bb b--moon-gray fw6 helvetica">
                        <div class="block1 w-30 pl3">1.</div>
                        <div class="block2 w-70">Eragon</div>
                    </div>
                    <div class="row w-100 h3 flex items-center gray f5 o-50 bt bb b--moon-gray fw6 helvetica">
                        <div class="block1 w-30 pl3">1.</div>
                        <div class="block2 w-70">Eragon</div>
                    </div>
                    <div class="row w-100 h3 flex items-center gray f5 o-50 bt bb b--moon-gray fw6 helvetica">
                        <div class="block1 w-30 pl3">1.</div>
                        <div class="block2 w-70">Eragon</div>
                    </div>
                    <div class="row w-100 h3 flex items-center gray f5 o-50 bt bb b--moon-gray fw6 helvetica">
                        <div class="block1 w-30 pl3">1.</div>
                        <div class="block2 w-70">Eragon</div>
                    </div>
                </div>
            </body>
            <div class="block_bottom mt4">
                <div class="lable bg-lightest-blue o-70 blue w-100 h3 items-center justify-between flex f4 helvetica pl3 fw6">
                    <span class="">Earnings Overview</span>
                    <i class="fa fa-ellipsis-v pr4"></i>
                </div>
                <img src="https://placehold.it/400x150" class="w-100" alt="">
            </div>
        </div>
       
    </section>
    
</div>