  <div class="popover__content relative  pa3 mt3 ">
      <header class="justify-between flex mt2 bg-blue w-100 h2 ">
        <label for="body" class="white ml3 h-100 tc self-center f5 items-center flex">Notification</label>
        <button class="bn bg-blue mr3 white ttu ">Clear All</button>
      </header>
      <body name="body w-100 shadow-3 ">
        <div class="row w-100 h3 items-center flex bb b--light-gray ">
          <div class="fl w-20 justify-center items-center flex">
            <div class="h2 w2 bg-blue bn br3"></div>
          </div>
          <div class="fl w-80">
            <p class="fw6 f6">Notification 1 <span class="fw1 gray f7 o-80 "> - Notification Information</span></p>
            <span class="fw6 f7 gray o-80">Here: 5 Sep 2019 @ 10:30 am</span>
          </div>
        </div>
        <div class="row w-100 h3 items-center flex bb b--light-gray ">
          <div class="fl w-20 justify-center items-center flex">
            <div class="h2 w2 bg-orange bn br3"></div>
          </div>
          <div class="fl w-80">
            <p class="fw6 f6">Notification 1 <span class="fw1 gray f7 o-80 "> - Notification Information</span></p>
            <span class="fw6 f7 gray o-80">Here: 5 Sep 2019 @ 10:30 am</span>
          </div>
        </div>
        <div class="row w-100 h3 items-center flex bb b--light-gray ">
          <div class="fl w-20 justify-center items-center flex">
            <div class="h2 w2 bg-light-red bn br3"></div>
          </div>
          <div class="fl w-80">
            <p class="fw6 f6">Notification 1 <span class="fw1 gray f7 o-80 "> - Notification Information</span></p>
            <span class="fw6 f7 gray o-80">Here: 5 Sep 2019 @ 10:30 am</span>
          </div>
        </div>
        <div class="row w-100 h3 items-center flex bb b--light-gray ">
          <div class="fl w-20 justify-center items-center flex">
            <div class="h2 w2 bg-blue bn br3"></div>
          </div>
          <div class="fl w-80">
            <p class="fw6 f6">Notification 1 <span class="fw1 gray f7 o-80 "> - Notification Information</span></p>
            <span class="fw6 f7 gray o-80">Here: 5 Sep 2019 @ 10:30 am</span>
          </div>
        </div>
        <div class="row w-100 h3 items-center flex bb b--light-gray ">
          <div class="fl w-20 justify-center items-center flex">
            <div class="h2 w2 bg-orange bn br3"></div>
          </div>
          <div class="fl w-80">
            <p class="fw6 f6">Notification 1 <span class="fw1 gray f7 o-80 "> - Notification Information</span></p>
            <span class="fw6 f7 gray o-80">Here: 5 Sep 2019 @ 10:30 am</span>
          </div>
        </div>
        <div class="row w-100 h3 items-center flex bb b--light-gray ">
          <div class="fl w-20 justify-center items-center flex">
            <div class="h2 w2 bg-light-red bn br3"></div>
          </div>
          <div class="fl w-80">
            <p class="fw6 f6">Notification 1 <span class="fw1 gray f7 o-80 "> - Notification Information</span></p>
            <span class="fw6 f7 gray o-80">Here: 5 Sep 2019 @ 10:30 am</span>
          </div>
        </div>
      </body>
    </div>
 