<div class=" wrapper fl w-100">
    <div class="login_block ">
        <div class="login fl w-60">
            <h2 class="avenir" style="font-family: 'PT Sans Narrow', ;">Welcome Back</h2>
            <span class="avenir">New user? <span><a href="" style="text-decoration:none;color: #2196F3;font-size:14px;">Create an account</a></span></span>
            <div class="form br-pill">
                <span class="icon" style="margin-left:12px;margin-right:8px"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <input type="email" id="email" placeholder="Email Address" />
            </div>
            <div class="form br-pill" style="margin-top:12px">
                <span class="icon" style="margin-left:12px;margin-right:8px"><i class="fa fa-lock" style="font-size: 15px;" aria-hidden="true"></i></span>
                <input type="password" id="password" placeholder="Password" />
            </div>
            <label class="container">Rememeber Me
                <input type="checkbox" >
                <span class="checkmark"></span>
                <span style="margin-left: 18%;"><a href="" style="text-decoration: none;color:#2196F3;">Forgot Password?</a></span>
            </label>
            <button class="br-pill" style="background-color:#AFAFAF;">
                Login
            </button>
            <hr>
            <button class="br-pill" style="background-color:#4267b2;margin-top:20px">
                Login with Facebook
            </button>
            <button class="br-pill" style="background-color:#dd4b39;margin-bottom:40px;">
                Login with Google
            </button>

        </div>
        <div class="image fl w-40 "><img src="https://placehold.it/240x345" alt=""></div>
    </div>

</div>
